html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Stick', sans-serif; /* this should be the rest of the output you got from Google fonts */
  background-color: #bf903f;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: rgba(238, 236, 108, 0.959);
  text-shadow: 3px 3px 1px black;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

/* img.blocking {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

img {
  display: block;
  margin: 0 auto;
}

body {
  width: 1200px;
  margin: 0 auto;
  background-color: hsla(170, 51%, 71%, 0.89);
  padding: 0 20px 20px 20px;
  border: 3px solid black;
}

.hidden {
  display: none;
}

.bio {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  z-index: 10;

  background-color: rgb(110, 139, 233);
  padding: 40px;
  border-radius: 60px;
  box-shadow: 0 6px 50px rgba(0, 0, 0, 0.521);
}
